<div class={{if (and (not (or newIocs.length newIocsToSubmit.length)) interactionDisabled) "modal-open"}}>
  {{#if foundEntities.length}}
    <h1 class="p-title">
      {{fa-icon "info-circle" size="sm"}} Already In Cortex XSOAR
    </h1>
    {{#if isDeleting}}
      <div class="ioc-deletion-modal">
        <div class="note">
          <span class="p-key">
            <span class="p-value"><em><b>DANGER:</b></em></span>
            <div>
              <span>Deleting an indicator cannot be undone and will remove all data for the indicator in Cortex XSOAR.</span>
            </div>
            <div>
              <span>Are you sure you want to delete the indicator <em><b>{{entityToDelete.value}}</b></em>?</span>
            </div>
          </span>
          <div class="delete-confirmation-button">
            <button class="cancel-delete" {{action "cancelItemDeletion"}}>Cancel</button>
            <button class="p-btn btn btn-danger m-0" {{action "confirmDelete"}}>Delete</button>
          </div>
        </div>
      </div>
    {{/if}}
    <table class="w-100">
      <tbody>
        {{#each foundEntities as |foundEntity|}}
          <tr>
            <td>
              {{#if (not interactionDisabled)}}
                <a href="{{details.url}}/indicator/{{foundEntity.id}}">
                  {{foundEntity.value}} {{fa-icon "external-link" fixedWidth=true class="external-link-icon"}}
                </a>
              {{else}}
                <a>{{foundEntity.value}} {{fa-icon "external-link" fixedWidth=true class="external-link-icon"}}</a>
              {{/if}}
            </td>
            <td class="type">
              <span>{{foundEntity.displayedType}}</span>
            </td>
            {{#if block.userOptions.allowIndicatorDelete}}
              <td class="icon">
                <button
                  class="no-style-button delete"
                  {{action "initiateItemDeletion" foundEntity}}
                  title="Delete IOC from ThreatConnect"
                  disabled={{interactionDisabled}}
                >
                  {{fa-icon "trash" fixedWidth=true}}
                </button>
              </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="d-flex flex-row justify-content-between align-items-center">
      <div>
        {{#if deleteIsRunning}}
          {{fa-icon "spinner-third" fixedWidth=true spin=true}} Deleting...
        {{/if}}
      </div>

      {{#if deleteMessage}}
        <div class="alert alert-info mt-1">
          {{deleteMessage}}
        </div>
      {{/if}}
      {{#if deleteErrorMessage}}
        <div class="alert alert-danger mt-1">
          {{deleteErrorMessage}}
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if (or newIocs.length newIocsToSubmit.length)}}
    <div>
      <div class="title-with-button">
        <h1 class="p-title">
          {{fa-icon "sparkles" size="sm" fixedWidth=true}} Not Currently In Cortex XSOAR
        </h1>
        {{#if newIocs.length}}
          <button
            class="no-style-button add"
            {{action "addAllSubmitItems"}}
            title="Add all IOCs to Submission List"
            disabled={{interactionDisabled}}
          >
            Add All
          </button>
        {{/if}}
      </div>

      <table class="w-100">
        <tbody>
          {{#each newIocs as |entity|}}
            <tr>
              <td>
                <span>{{entity.value}}</span>
              </td>
              <td class="type">
                <span>{{entity.displayedType}}</span>
              </td>
              <td class="icon">
                <button
                  class="no-style-button add"
                  {{action "addSubmitItem" entity}}
                  title="Add IOC to Submission List"
                  disabled={{interactionDisabled}}
                >
                  {{fa-icon "plus" fixedWidth=true}}
                </button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      
      {{#if (not newIocs.length)}}
        <div class="note">
          <span class="p-key"><em>NONE</em></span>
        </div>
      {{/if}}
    </div>

    <div>
      <div class="title-with-button">
        <h1 class="p-title">
          {{fa-icon "upload" size="sm" fixedWidth=true}} To Be Submitted to Cortex XSOAR
        </h1>
        {{#if newIocsToSubmit.length}}
          <button
            class="no-style-button remove"
            title="Remove all IOCs from Submission List"
            {{action "removeAllSubmitItems"}}
            disabled={{interactionDisabled}}
          >
            Remove All
          </button>
        {{/if}}
      </div>

      <table class="w-100">
        <tbody>
          {{#each newIocsToSubmit as |entity|}}
            <tr>
              <td>
                <span>
                  {{entity.value}}
                </span> 
              </td>
              <td class="type">
                <span>
                  {{entity.displayedType}}
                </span>
              </td>
              <td class="icon">
                <button
                  class="no-style-button remove"
                  title="Remove IOC from Submission List"
                  {{action "removeSubmitItem" entity}}
                  disabled={{interactionDisabled}}
                >
                  {{fa-icon "minus" fixedWidth=true}}
                </button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      {{#if (not newIocsToSubmit.length)}}
        <div class="note">
          <span class="p-key"><em>NONE</em></span>
        </div>
      {{/if}}
    </div>

    <div>
      <h1 class="p-title submission-options py-1">
        {{fa-icon "cog" size="sm" fixedWidth=true}} Submission Options
      </h1>

      {{!-- TODO: Add selection-container div's with Submission Options needed here --}}
      <div class="select-container">
        <span class="p-value">Indicator Type: </span>
        {{#power-select
          options=foundIndicatorTypes
          selected=selectedIndicatorType
          searchEnabled=true
          searchField="info"
          placeholder="Select Indicator Types..."
          triggerClass="form-control"
          search=(action "searchIndicatorTypes")
          searchMessage="Loading Indicator Types ..."
          loadingMessage="Loading Indicator Types ..."
          searchPlaceholder="Search Indicator Types"
          closeOnSelect=true
          onOpen=(action "searchIndicatorTypes" "")
          onChange=(action (mut selectedIndicatorType)) as |type|}}
          <span>{{type.details}}</span>
        {{/power-select}}
      </div>
      
      <div class="select-container pt-1">
        <span class="p-value">Reputation: </span>
        <select class="w-100" onchange={{action (mut reputation) value="target.value"}}>
          <option style="color: #9aa0a3; font-weight: 600" value="0">
            {{fa-icon "burn" fixedWidth=true}} None
          </option>
          <option style="color: #00CD33; font-weight: 600" value="1">
            {{fa-icon "bomb" fixedWidth=true}} Good
          </option>
          <option style="color: #FF9000; font-weight: 600" value="2">
            {{fa-icon "bullhorn" fixedWidth=true}} Suspicious
          </option>
          <option style="color: #ff1644; font-weight: 600" value="3">
            {{fa-icon "bullhorn" fixedWidth=true}} Bad
          </option>
        </select>
      </div>
      
      <div class="select-container last">
        <span class="p-value">Add a Comment: </span>
        <input
          type="text"
          class="w-100"
          placeholder="Polarity Indicator Comment"
          onchange={{action (mut indicatorComment) value="target.value"}}
          value={{indicatorComment}}
        />
      </div>
    </div>

    <div class="d-flex flex-row-reverse justify-content-between align-items-center mt-2">
      <button {{action "submitItems"}}
              disabled={{interactionDisabled}}
              class="p-btn btn btn-secondary m-0">
        {{#if createIsRunning}}
          {{fa-icon "spinner-third" fixedWidth=true spin=true}}
        {{else}}
          Submit IOCs
        {{/if}}
      </button>

      {{#if createMessage}}
        <div class="create-message alert alert-info m-0">
          {{createMessage}}
        </div>
      {{/if}}

      {{#if createErrorMessage}}
        <div class="create-message alert alert-danger m-0">
          {{createErrorMessage}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
{{#if (and (not foundEntities.length) (not (or newIocs.length newIocsToSubmit.length)))}}
  <div class="note">
    <span class="p-key"><em>All Already In Cortex XSOAR IOCs have been deleted</em></span>
  </div>
{{/if}}